
<h3>评价</h3>

<% form_for(@recommand,:url => resume_recommands_path(@resume)) do |f| %>
<p><%= label_tag '角色'%> <br /><%= f.select :sender_role,@resume.roles%></p>
<p><%= label_tag '内容'%> <br /><%= f.text_area :description,:style => 'height:120px;'%> </p>
<p>
	<%= submit_tag '发送'%>
</p>                                                             	
<% end -%>  