<h2>收件箱</h2>   
<table id='message'>
	<thead>
	<tr>
		<th>删除?</th>
		<th>发件箱</th>
		<th>送信人</th>
		<th>发送</th>
	</tr> 
	</thead >
	<tbody>
	<% if @messages.size == 0 %>
		<tr>
			<td colspan="4">
				暂无消息
			</td>
		</tr>
	<% else %>
		<% for message in @messages %>
			<tr class='row'>
				<td><%= check_box_tag "delete[]", message.id %></td>
				<td>
					<% if message.read? %>
					  <%= link_to h(message.subject), user_message_path(@user, message) %>
					<% else %>
					  <%= link_to "#{h(message.subject)} (未读)", user_message_path(@user, message) %>
					<% end %>
				</td>
				<td><%= link_to h(message.sender.login), user_path(@user) %></td>
		    <td><%=h message.created_at.to_s(:date_time24) %></td>
			</tr>
		<% end %>
		<tr>
			<td colspan="4">
				<%= submit_tag "删除" %>
			</td>
		</tr>
	<% end %>
	</tbody>
</table>  
<div class='btn'>   
	<%#= link_to "新建", new_user_message_path(@user),:class=> 'ag'%> 
</div>

