<% form_for @message, :url => user_messages_path(@user) do |f| %>
  <p>
    收信人:<br />
		<%= f.text_field :to %>
		<%= error_message_on @message, :to %>
  </p>
  <p>
    标题:<br />
    <%= f.text_field :subject %>
    <%= error_message_on @message, :subject %>
    </p>
    <p>
      内容<br />
      <%= f.text_area :body %>
			<%= error_message_on @message, :body %>
    </p>
    <p>
      <%= submit_tag "发送" %>
    </p>
<% end %>