<% content_for :tabs do -%>
	<li><%=link_to('便条','#tabs-content') %></li>
<% end -%>

<div id="msg_content" class='ui-corner-all'>
	<p><strong>来自:</strong> <%= @message.sender == @user ? link_to("你", user_path(@user)) : link_to(h(@message.sender.login), user_path(@user)) %><br />
	<strong>收件时间:</strong> <%= @message.created_at.to_s(:date_time24) %><br />
	<strong>到:</strong> <%= @message.recipient == @user ? link_to("你", user_path(@user)) : link_to(h(@message.recipient.login), user_path(@user)) %></p>
	<div class='msg_body'>
	  <%=sanitize @message.body, :tags => %w(p br) %>
	</div>
	<ul id='btn'>            
	  <%= message_req(current_user,@message)%>
	  <li><%= link_to "收件箱", user_messages_path(@user)%></li>
	</ul>                                          
	
<div style="font: 0px/0px sans-serif;clear: both;display: block"> </div> 
</div>
