<p>
	<%= f.label :name, "姓名" %> <br />
 	<%= f.text_field :name %> 
</p>
<p>    
	<%= f.label :mobile, "手机" %><br /> 
	<%= f.text_field :mobile %>
</p>                            
<p>
	<%= f.label :address, "地址" %><br />
	<%= f.text_field :address %>
</p>
<p>
	<%= f.label :email, "Email" %><br /> 
	<%= f.text_field :email %>
</p>
<p>
	<%= f.label :im, "qq/msm" %><br />
	<%= f.text_field :im %>       
</p>
<p>
	<%= f.label :birthday, "生日" %><br />
	<%= f.date_select :birthday,:start_year => Time.now.year - 45,:end_year => Time.now.year - 16  %>
</p>                                           
<p>
	<%= f.label :sex, "性别" %><br />
	<%= f.radio_button :sex, 'm' %> 男
	<%= f.radio_button :sex, 'f' %> 女
</p>
<p>
	<%= f.label :hometown, "出生地" %><br />
	<%= f.text_field :hometwon %>
</p>
<p>
	<%= f.label :hukou, "户籍所在地" %><br />
	<%= f.text_field :hukou %>
</p>  