<table class='resume'>
	<tr><td><%= f.label :name, "姓名" %>:</td><td><%= f.text_field :name %> </td></tr>
	<tr><td><%= f.label :mobile, "手机" %>:</td><td><%= f.text_field :mobile %></td></tr>
	<tr><td><%= f.label :address, "地址" %>:</td><td> <%= f.text_field :address %> </td></tr>
	<tr><td><%= f.label :email, "Email" %>:</td><td><%= f.text_field :email %></td></tr>
	<tr><td><%= f.label :im, "qq/msm" %>:</td><td><%= f.text_field :im %> </td></tr>
	<tr><td><%= f.label :birthday, "生日" %>:</td><td><%= f.date_select :birthday,:start_year => Time.now.year - 45,:end_year => Time.now.year - 16, :default => { :year => 1981}  %>  </td></tr>
	<tr><td><%= f.label :sex, "性别" %>:</td><td><%= f.radio_button :sex, 'm' %> 男 <%= f.radio_button :sex, 'f' %> 女</td></tr>
	<tr><td><%= f.label :hometown, "出生地" %>:</td><td><%= f.text_field :hometwon %></td></tr> 
	<tr><td><%= f.label :hukou, "户籍所在地" %>:</td><td><%= f.text_field :hukou %></td></tr>
</table>
