<h1>编辑个人资料</h1>

<% form_for(@profile,:url => user_profile_path(@user),:html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form',:locals => { :f => f } %>    
  <p>
    <%= f.submit '更新' %>
  </p>
<% end %>
<%= link_to '返回', resumes_path %>  

<% content_for :sidebar do %>
   <%= render :comatose=>'cn/profile' %>
<% end -%>