<h1>New profile</h1>

<% form_for(@profile) do |f| %>
  <%= f.error_messages %>
   <%= render :partial => 'form' %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', profiles_path %>

<% content_for :sidebar do %>
   <%= render :comatose=>'cn/profile' %>
<% end -%>