<div id="login-box">   
	<h3>登录</h3>
	<%= render :partial => '/shared/notice' %> 
	<% form_remote_tag :url => session_path do -%>
	<p><label for="username">用户名</label><br />
	<%= text_field_tag 'login', nil, :size => 28%> </p> 
	<p><label for="password">密码</label><br />
	<%= password_field_tag 'password', nil, :size => 28%> <%= link_to '忘记密码', forgot_password_path%></p>
	<p><label for="记住我">记住我 <%= check_box_tag 'remember_me'%></label></p> 
	<p><%= submit_tag '登录' %></p>
	<% end -%>      
	<%= link_to '注册', signup_path %>
</div>
