<% content_for :head do -%>
	<%= javascript_include_tag 'jquery.scrollTo-min' %>
<% end -%>

<h2>投简历</h2>
<% form_for @poster,:url => resume_posters_path(@resume),:html => {:id => 'poster_form'} do |f| -%>
<%= f.error_messages %> 
 <p><%= label_tag 'email' %> <br /><%= f.text_field :email,:size => 32 %></p>
 <p><%= label_tag '职位' %> <br /><%= f.text_field :position,:size => 32 %></p>
 <p><%= label_tag '内容' %> <br /><%= f.text_area :content,:rows => 12, :cols => 65
%></p> 
<p>
	<%= submit_tag '发送' %>    <%= link_to_remote '预览',{:url => preview_resume_posters_path(@resume), 
	                         :method => 'post',
	                         :update => 'preview',
	                         :with => "$('#poster_form').serialize()",
							 :complete =>"$.scrollTo('#preview')"
	                         }%>   
</p>  
<% end -%>   

<div id="preview" class="wiki"></div> 
