<p>
	<%= f.label :title, t(:title) %> <span style='color:red;'>*</span><br />
 	<%= f.text_field :title %> </p>

<p>    
	<%= f.label :company, t(:company) %> <span style='color:red;'>*</span><br /> 
	<%= f.text_field :company %>
</p>                            
<p>
	<%= f.label :start_at, t(:start_at) %> <span style='color:red;'>*</span><br /> 
    <%= f.date_select('start_at',:start_year => Time.now.year - 25, :end_year => Time.now.year,:discard_day => true,:prompt => { :month => '选择月份', :year => '选择开始年份' }) %> <%= t(:still_on)%>:<%= check_box_tag 'accept','no', false,:onclick => "postition_time_period(this);",:id => 'position_still' %><br >  
</p>
<p class='end_at'>  
	<%= f.label :end_at, t(:stop_at) %><span style='color:red;'>*</span><br /> 
    <%= f.date_select('end_at',:start_year => Time.now.year - 25, :end_year => Time.now.year,:discard_day => true,:prompt => { :month => '选择月份', :year => '选择结束年份' }) %>
</p>
<p>
	<%= f.label :description, t(:desc) %><span style='color:red;'>*</span><br />
    <%= f.text_area :description, :size => "45x15" %>
</p>

