<% content_for :tabs do -%> 
	<li><%=link_to(t(:add_position),'#tabs-content') %></li>
	<li><%=link_to t(:back), resume_positions_path(@resume)%></li> 
<% end -%>

<% form_for(@position,:url => resume_positions_path(@resume)) do |f| %>
  <%= f.error_messages %>
    <%= render :partial => 'form', :locals => { :f => f }%>
  <p>
    <%= f.submit t(:create) %>
  </p>
<% end %>
 

<% content_for :sidebar do %>
<% end -%>