Hi:
<p>
<%= @text %>
<br />
<%= @resume.profile.name %>
</p>        
<p>
请点击以下链接，对<b><%= @resume.profile.name %></b>在<b><%= @role %></b>时的表现进行评价:
<br />
<a href="<%= @code %>"/><%= @code %></a>
</p>
<p>
如果你已有半亩方塘帐号,请点击以下链接
<br />
<a href="http://muutang.com/users/<%= @resume.user.id %>"> http://muutang.com/users/<%=@resume.user.id%> </a>
</p>