<%= @content %> 

-------以下是我的简历-------

<div style="font-family:宋体;">
<table border='0' cellspacing='0' cellpadding='0'>
<tr><td width="632px" align='center'>
<DIV style="FONT-SIZE: 12px; COLOR: #566777;" align=center>如果您不能正常显示此邮件，请点击以下链接：</DIV>
<DIV align=center><A style="COLOR: #bcbab6; TEXT-DECORATION: none;font-size:12px" href="<%=@resume.public_url%>" target=_blank><%=@resume.public_url%></A>
</DIV>

</td></tr>
</table>
<table border="0" cellspacing="5" cellpadding="5" bgcolor="#f5f5f5" > 
	<tr><td style='border:1px solid #666; border-width: 8px 0 0px 0; ' colspan='4'>&nbsp;</td></tr>
	<tr> 
		<td width="16px" style="font-size: 14px;">&nbsp;</td>
		<td width='285px'><%= avatar_for @resume.profile %>
		<span style='font-size:28px; float:right;margin:15px 60px 1px 1.5px;font:Verdana;'><%= @resume.profile.name %></td></div> 
		<td width='250px'><%=link_to 'PDF下载',public_resume_path(@resume.salt,:format => 'pdf'),:style => 'background:rgb(247, 130, 16);  padding: 10px 20px; text-decoration: none; font-size: 18px; font-weight: bold; letter-spacing: -0.35px;color:#FFFFFF;'%></td>                                
	 	<td width="16px" style="font-size: 14px;">&nbsp;</td> 
	</tr>
</table>
<table border='0' cellspacing='0' cellpadding='0' bgcolor="#f5f5f5" > 
	<tbody> 
			<tr><td style='border-top:5px solid #ccc;' colspan='5'>&nbsp;</td></tr>
		<tr >      
		 <td width="16px" style="font-size: 14px;">&nbsp;</td>
		<td width='285px' style='font-size: 14px; color: rgb(51, 51, 51); font-family: 宋体;'>
			<h3>个人信息</h3>
			<ul >
				<li style='list-style:none;'>性别:<%= format_sex(@resume.profile.sex) %></li>
				<li style='list-style:none;'>出生地:<%=h @resume.profile.hometwon %></li> 
				<li style='list-style:none;'>户口所在地:<%=h @resume.profile.hukou %></li>
				<li style='list-style:none;'>年龄:<%= format_age(@resume.profile.birthday) %></li>
				<li style='list-style:none;'>生日:<%= @resume.profile.birthday %></li>
			</ul>
		</td>      
		<td width="15px" style="font-size: 14px;">&nbsp;</td>
		 <td width='300px' style='font-size: 14px; color: rgb(51, 51, 51); font-family: 宋体;'>
		  	<h3>联系方式</h3>
			<ul>
				<li style='list-style:none;'>地址:<%=h @resume.profile.address %></li>
				<li style='list-style:none;'>电子邮件:<%=h @resume.profile.email %></li>
				<li style='list-style:none;'>手机:<%=h @resume.profile.mobile %></li>
				<li style='list-style:none;'>&nbsp;</li>
				<li style='list-style:none;'>&nbsp;</li>
 			</ul>
		 </td> 
		<td width="16px" style="font-size: 14px;">&nbsp;</td> 
	</tr>
  </tbody>
</table>
<table border='0' cellspacing='0' cellpadding='0' bgcolor="#f5f5f5" >
	<tbody>    
		<tr><td style='border-top:5px solid #ccc;' colspan='5'>&nbsp;</td></tr>
	<tr>
		<td width="16px" style="font-size: 14px;">&nbsp;</td>
		<td width='180px' style='font-size: 14px; color: rgb(51, 51, 51); font-family: 宋体;'><h3>总结</h3></td>
		<td width='420px' style='font-size: 14px; color: rgb(51, 51, 51); font-family: 宋体;'><%=h @resume.summary.content %></td>
		<td width="16px" style="font-size: 14px;">&nbsp;</td>
	 </tr>
	<tr><td style='border-top:5px solid #ccc;' colspan='5'>&nbsp;</td></tr>
	<tr>
		<td width="16px" style="font-size: 14px;">&nbsp;</td>
		<td width='180px' style='font-size: 14px; color: rgb(51, 51, 51); font-family: 宋体;'><h3>工作经验</h3></td>
		<td width='420px' style='font-size: 14px; color: rgb(51, 51, 51); font-family: 宋体;'><% @resume.positions.each do |position| -%>
			<span style='float:right;font-size:10px;'><%= position.start_at %> » <%= format_end_at(position.end_at) %></span>
			<b><%=h position.title %></b>
			<span style='float:left;width:100%;font-variant:small-caps;'><%=h position.company %></span>
			<ul style='clear:both;'>
				<li><%=h position.description %></li>
			</ul>
			<% end -%></td>
		<td width="16px" style="font-size: 14px;">&nbsp;</td>
	 </tr> 
	<tr><td style='border-top:5px solid #ccc;' colspan='5'>&nbsp;</td></tr>
	<tr>
		<td width="16px" style="font-size: 14px;">&nbsp;</td>
		<td style='font-size: 14px; color: rgb(51, 51, 51); font-family: 宋体;'><h3>兴趣爱好</h3></td>
		<td style='font-size: 14px; color: rgb(51, 51, 51); font-family: 宋体;'><%=h @resume.additionalinfo.interests %><%=h @resume.additionalinfo.groups %><%=h @resume.additionalinfo.awards %></td>
		<td width="16px" style="font-size: 14px;">&nbsp;</td>
	</tr>  
	<tr><td style='border-top:5px solid #ccc;' colspan='5'>&nbsp;</td></tr>
	<tr>
		<td width="16px" style="font-size: 14px;">&nbsp;</td>
		<td width='180px' style='font-size: 14px; color: rgb(51, 51, 51); font-family: 宋体;'><h3>教育</h3></td>
		<td width='420px' style='font-size: 14px; color: rgb(51, 51, 51); font-family: 宋体;'><% @resume.educations.each do |education| -%>
		<div class="box">  
			  <span style='float:right;font-size:10px;'><%= education.start_at.to_s(:date_edu) %> » <%= education.end_at.to_s(:date_edu) %></span>
			<b><%= education.name %></b>
			<ul>
				<li><%=h education.degree %></li>
				<li><%=h education.field %></li>
			</ul>
		</div>
		<% end -%></td>
		<td width="16px" style="font-size: 14px;">&nbsp;</td>
	 </tr>
	</tbody>
</table>   

</div>