<div class="announce">
  <h1>半亩塘让你快速创建更有用的简历</h1>
</div>  
	<div class='span-10' style='text-align:right;padding:20px 30px 0px 0px;'>
   	 <%=image_tag 'snap.jpg', :border => '0',:align => 'center'%>    
   </div>
   <div class='span-10 last'>   
	<% if false %>
   	<div id="download">
		<% if logged_in? -%>
		   <%=link_to '开始创建',new_resume_path %> 
		<% else -%>
		   <%=facebox_link_to '开始创建',:url => login_box_path %>
		<% end -%>
	</div> 
	<% end %>
   <fieldset style='width:220px;background:#FFF;'>
	<legend>马上开始</legend>   
   	<% form_for :user, :url => users_path do |f| -%>
		<%= render :partial => '/users/form',:locals => {:f => f} %>
	<p><%= submit_tag '确定' %></p> 
	<% end %>
	</fieldset>   
  </div>                                           
  <div class='span-19 prepend-2' style='margin-top:20px;'>

  <div class='span-5 ad' > 
	   <h3>(1)快速创建 -> </h3> 
	
	有限的必填项,让你创建时感觉更轻松.一份格式良好的简历信手拈来!
	</div>   
	<div class='span-7 ad'>
	   <h3>(2)在线配置 -> </h3> 
	查看/完善效果,配置公开网址
	</div>      
	<div class='span-5 ad last'> 
		<h3>(3)到处使用 -> </h3>
		你可以下载打印,直接投递email,或者直接在线浏览
	</div> 


  </div>