<div class="announce" >
  <h1 >与其临渊羨魚，不如退而結网</h1>
</div>   
<div class='span-19 prepend-2'>              
	<div class='span-5 ad' > 
	   <h3>更快捷</h3> 
	有限的必填项和选项
	</div>   
	<div class='span-5 ad'>
	   <h3>更客观</h3> 
	让同学/同事推荐你
	</div>      
	<div class='span-5 ad last'> 
		<h3>更好用</h3>
		在线浏览,递email,导出打印
	</div> 
</div>   
        
	<div class='span-10' style='text-align:center;'>    
	  <h3>最新加入的会员</h3>     
	<div id="mq" onMouseOver="iScrollAmount=0"
	onmouseout="iScrollAmount=1" > 
   <table >
	<tbody> 
		<% @asserts.each do |assert| -%> 
		<% begin %>
			<tr><td><h4><%=assert.attachable.name %> - <%=assert.attachable.resume.usage %></h4><%=link_to image_tag(assert.public_filename),public_resume_path(assert.attachable.resume),:target => '_blank'%> </td></tr>
			<% rescue %> 
			<tr><td><h4><%= assert.attachable.name %></h4><%=image_tag assert.public_filename%> </td></tr>   
			<% end %>
        <% end -%>
	</tbody>
   </table>
	</div>

	<script type="text/javascript" charset="utf-8">
	var oMarquee = document.getElementById("mq"); //滚动对象
	var iLineHeight = 133; //单行高度，像素
	var iLineCount = 10; //实际行数
	var iScrollAmount = 1; //每次滚动高度，像素
	function run() {
	oMarquee.scrollTop += iScrollAmount;
	if ( oMarquee.scrollTop == iLineCount * iLineHeight )
	oMarquee.scrollTop = 0;
	if ( oMarquee.scrollTop % iLineHeight == 0 ) {
	window.setTimeout( "run()", 1000 );
	} else {
	window.setTimeout( "run()", 50 );
	}
	}  
	oMarquee.innerHTML += oMarquee.innerHTML;
	window.setTimeout( "run()", 2000 ); 
	</script>   

	
   </div>
   <div class='span-10 last'>   

   <fieldset style='width:220px;background:#EFEFEF;'>
	<legend>马上开始</legend>  
   	<% form_for :user, :url => users_path do |f| -%>
		<%= render :partial => '/users/form',:locals => {:f => f} %>
	<p><%= submit_tag '注册' %></p> 
	<% end %>
	</fieldset>   
  </div>                                           


