<div class="announce">
  <h1>半亩塘让你快速创建更有用的简历</h1>
</div>   
<div class='span-19 prepend-2'>              
	<div class='span-5 ad' > 
	   <h3>更快捷</h3> 
	有限的必填项和选项
	</div>   
	<div class='span-5 ad'>
	   <h3>更客观</h3> 
	让同学/同事的推荐你
	</div>      
	<div class='span-5 ad last'> 
		<h3>更好用</h3>
		在线浏览,递email,导出打印
	</div> 
</div>
	<div class='span-10' style='text-align:right;padding:20px 30px 0px 0px;'>
   	 <%=image_tag 'snap.jpg', :border => '0',:align => 'center'%>    
   </div>
   <div class='span-10 last'>   
	<% if false %>
   	<div id="download">
		<% if logged_in? -%>
		   <%=link_to '开始创建',new_resume_path %> 
		<% else -%>
		   <%=facebox_link_to '开始创建',:url => login_box_path %>
		<% end -%>
	</div> 
	<% end %>
   <fieldset style='width:220px;background:#FFF;'>
	<legend>马上开始</legend>   
   	<% form_for :user, :url => users_path do |f| -%>
		<%= render :partial => '/users/form',:locals => {:f => f} %>
	<p><%= submit_tag '注册用户' %></p> 
	<% end %>
	</fieldset>   
  </div>                                           


