<% if false %>
<div class="announce" >
  <h1 >与其临渊羨魚，不如退而結网</h1>
</div>   

        
	<div class='span-10' style='text-align:center;'>    
	  <h3>最新加入的会员</h3>     
	<div id="mq" onMouseOver="iScrollAmount=0"
	onmouseout="iScrollAmount=1" > 
   <table >
	<tbody> 
		<% @asserts.each do |assert| -%> 
		<% begin %>
			<tr><td><h4><%=assert.attachable.name %> - <%=assert.attachable.resume.usage %></h4><%=link_to image_tag(assert.public_filename),public_resume_path(assert.attachable.resume),:target => '_blank'%> </td></tr>
			<% rescue %> 
			<tr><td><h4><%= assert.attachable.name %></h4><%=image_tag assert.public_filename%> </td></tr>   
			<% end %>
        <% end -%>
	</tbody>
   </table>
	</div>

	<script type="text/javascript" charset="utf-8">
	var oMarquee = document.getElementById("mq"); //滚动对象
	var iLineHeight = 133; //单行高度，像素
	var iLineCount = 10; //实际行数
	var iScrollAmount = 1; //每次滚动高度，像素
	function run() {
	oMarquee.scrollTop += iScrollAmount;
	if ( oMarquee.scrollTop == iLineCount * iLineHeight )
	oMarquee.scrollTop = 0;
	if ( oMarquee.scrollTop % iLineHeight == 0 ) {
	window.setTimeout( "run()", 1000 );
	} else {
	window.setTimeout( "run()", 50 );
	}
	}  
	oMarquee.innerHTML += oMarquee.innerHTML;
	window.setTimeout( "run()", 2000 ); 
	</script>   

	
   </div>
   <div class='span-10 last'>   

   <fieldset style='width:220px;background:#EFEFEF;'>
	<legend>马上开始</legend>  
   	<% form_for :user, :url => users_path do |f| -%>
		<%= render :partial => '/users/form',:locals => {:f => f} %>
	<p><%= submit_tag '注册' %></p> 
	<% end %>
	</fieldset>   
  </div>                                           
<% end %>   

<div class="announce" > 
		<% form_tag resumes_path,:method => 'get',:onsubmit => "clear_query_box('search-input');return false;",:style => 'margin-left:200px'  do -%> 
		 <%= text_field_tag :query,(params[:query] ||"找人"),:size => 18,:class => "soinputindex",:id => 'query' %> 
	   <%=submit_tag '提交',:class=>'soinputbot',:align => 'absmiddle'%>
	<% end -%>	
</div> 

<div style='margin:20px;pading:10px;line-height:16px;'>
	<% tag_cloud @arr_data, %w(css1 css2 css3 css4) do |tag,css_class| %>
		<%= link_to tag, resumes_path(:query => tag), :class => css_class %>
	<% end %>  
</div>   
<div >
	<ul class='group_list'>  
	<% @fetured_resumes.each do |resume| -%>   
		<li>
			<%=link_to h(resume.name),public_resume_path(resume),:class=> 'title' %><br /> 
			<div class='group_icon'>
			   <%=link_to avatar_for(resume,64,64),public_resume_path(resume)%> 
			</div>
			<%=resume.current_position %>
		</li> 
	<% end -%>
	<li class='new_group'>   
		<%=link_to '创建自己的简历', signup_path,:class=> 'title'%> <br /> 
		<div class='group_icon'>
		<%=link_to image_tag("new_group.jpg"),signup_path%>
		</div>
	</li>                                 
	</ul>
</div>



