
<p><%= label_tag '用户名' %><br/>
<%= f.text_field :login %></p>

<p><%= label_tag 'email' %><small>(需邮件确认,请确保正确)</small><br/>
<%= f.text_field :email %></p>

<p><%= label_tag '密码' %><br/>
<%= f.password_field :password %></p>

<p><%= label_tag 'password_confirmation', '密码确认' %><br/>
<%= f.password_field :password_confirmation %></p>
