
<h1><%= '重设密码'%></h1>

<% form_tag reset_password_users_path do %> 
  <p><label for="username"><%= '用户名' %></label><br/>
  <%= text_field_tag :login,'', :size => 28 %> <span class="tip">请输入你的用户名</span></p>
  <p><label for="email"><%= '电子邮箱' %></label><br/>
  <%= text_field_tag :email,'', :size => 28 %> <span class="tip">请输入你的注册电子邮箱</span></p>

  <p><%= submit_tag '提交' %></p>
<% end %>