<% 
message = "这是我在半亩塘创建的在线简历,为了能让它发挥更大的作用,我邀请你加入半亩塘.

在半亩塘你可以创建你的在线简历，管理你的个人人脉，和你的朋友/同事/领导保持联系,是你工作学习的好帮手.:)
"
-%>
<% content_for :tabs do -%>
 	<li><%=link_to('个人中心','#tabs-content') %></li>
	<%= javascript_include_tag 'jquery.progressbar.min' %> 
<% end -%>   

<% content_for :sidebar do -%> 
<div class='sidebar ui-corner-all' style='width:150px'> 
		<h4 id='service'>帐户</h4>
	 	<ul >  
			<%= topnav_tab('修改密码', :url => password_user_path(@user) ,:section => 'password') %>  
	 	</ul> 
</div>                                      
<% end -%> 

<h1>拓展你自己的人脉</h1>
 <div style='margin:20px'>          
	<%=link_to_remote 'gmail',:url => get_mail_path,:method => :get %>
	<% form_for @invitation, :url => user_invitations_path(@user)  do |f| -%>    
	<%= f.error_messages %>   
	<p><%= label_tag 'email'%><small>(多个mail用逗号各隔开)</small><br /> <%= f.text_area :email_addresses, :style => 'height:40px;'
	%>
	<p><%= label_tag '内容'%> <br /><%= f.text_area :message,:value => message,:style => 'height:120px;'%> </p>
	<p>
		<%= submit_tag '发送'%>
	</p>     
	<% end -%>
</div>      
<% if  ENV['RAILS_ENV'] == 'production' -%>    
	<!-- Google Code for &#27880;&#20876;&#29992;&#25143; Conversion Page -->
	<script type="text/javascript">
	<!--
	var google_conversion_id = 1029240410;
	var google_conversion_language = "zh_CN";
	var google_conversion_format = "3";
	var google_conversion_color = "ffffff";
	var google_conversion_label = "b2c5CJTenQEQ2uzj6gM";
	var google_conversion_value = 0;
	//-->
	</script>
	<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
	</script>
	<noscript>
	<div style="display:inline;">
	<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1029240410/?label=b2c5CJTenQEQ2uzj6gM&amp;guid=ON&amp;script=0"/>
	</div>
	</noscript>
<% end -%>