<div id="footer" class='span-24'> 
	<div class='span-7' id='copyright'>
		半亩塘 © 2008-2009    中文(简体)
	</div> 
	<div class='span-16 last'>
	<ul>
		<li><%= link_to '招聘信息',jobs_path %></li>
		<li><%= link_to '相关工具',tools_path %></li>
		<li><%=link_to '博客',comatose_blog_path %></li><li><%=link_to '帮助',help_path%></li> <li><%=link_to '联系我们',contact_path%></li><li><%=link_to '首页','/'%><li> 
	</ul>
	</div>	
</div>   

<% if  ENV['RAILS_ENV'] == 'production' -%>     
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-9920036-1");
pageTracker._trackPageview();
} catch(err) {}</script>
<% end -%>
