<div class='nav span-24'>
	<div class='span-5 logo'>
		<%=link_to image_tag('logo.png'),root_path %>
	</div>
	<div class='line span-1'>
		<%= image_tag 'line_1.gif'%> 
	</div>
	
	<div class='span-10 login'>
		 <h2>
			<%=link_to '首页',root_path %> <%=link_to '我的简历',resumes_path %> 
			<% if false %>
			<% if logged_in? -%>
			<%=link_to '关系圈',user_friendships_path(current_user) %> 
			<%=link_to "便条(#{current_user.received_messages.count})",user_messages_path(current_user) %>  
			<% end -%> 
			<%#= link_to '励志',books_path %> 
			<% end %>
		 </h2>
	</div> 
	
	<div class='line span-1'>
		<%= image_tag 'line_1.gif'%> 
	</div>
	<div class='span-6 last login'> 
	   	<% if logged_in? -%>
			  <h2>
				你好 <%=link_to current_user.login,current_user %>
				<% restrict_to "superuser" do %>
				  <%= link_to "管理", admin_path %>
				<% end %>
				<%=link_to '注销', logout_path %> <%=link_to '帮助',help_path%> <%=link_to '联系我们',contact_path%></h2>
		    <% else -%>
		      <h2><%=link_to '登录',login_path%> <%= link_to '注册', signup_path %> <%=link_to '帮助',help_path%> </h2> 
			<% end -%>
	</div>
</div>