<div class='nav span-24'>
	<div class='span-5 logo'>
		<%=link_to image_tag('logo.png'),root_path %>
	</div>
	<div class='line span-1'>
		<%= image_tag 'line_1.gif'%> 
	</div>
	<div class='span-10 login'>
		 <h2><%=link_to '首页',root_path %> <%=link_to '简历列表',resumes_path %> </h2>
	</div>
	<div class='line span-1'>
		<%= image_tag 'line_1.gif'%> 
	</div>
	<div class='span-6 last login'> 
	   	<% if logged_in? -%>
			  <h2>
				你好<%= current_user.login %>
				<%#=link_to '设置', edit_user_path(current_user) %>
				<%=link_to '注销', logout_path %></h2>
		    <% else -%>
		      <h2><%=link_to '登录',login_path%> <%= link_to '注册', signup_path %></h2> 
			<% end -%>
	</div>
</div>