<div class='nav span-24'>
	<div class='span-5 logo'>
		<%=link_to image_tag('logo.png'),root_path %>
	</div>
	<div class='line span-1'>
		<%= image_tag 'line_1.gif'%> 
	</div>
	
	<div class='span-10 login'>
		 <h2><%=link_to '首页',root_path %> <%=link_to '简历列表',resumes_path %>
			<% if false -%> <%=link_to '关系圈',user_friendships_path(current_user) %> <% end -%>
		 </h2>
	</div> 
	
	<div class='line span-1'>
		<%= image_tag 'line_1.gif'%> 
	</div>
	<div class='span-6 last login'> 
	   	<% if logged_in? -%>
			  <h2>
				你好 <%= current_user.login %><%#=link_to current_user.login,current_user %>
				<% restrict_to "superuser" do %>
				  <%= link_to "管理", admin_path %>
				<% end %>
				<%=link_to '注销', logout_path %> <%=link_to '帮助',help_path%> <%=link_to '联系我们',contact_path%></h2>
		    <% else -%>
		      <h2><%=link_to '登录',login_path%> <%= link_to '注册', signup_path %> <%=link_to '帮助',help_path%> <%=link_to '联系我们',contact_path%> <%=link_to '意见反馈','http://spreadsheets.google.com/viewform?formkey=cmhJV0c1ZXFaWkRlckNLLTQ4dEQzNUE6MA',:target => '_blank'%></h2> 
			<% end -%>
	</div>
</div>