<% content_for :tabs do -%>
 	<li><%=link_to(t(:edit_personal_info),'#tabs-content') %></li>
    <li><%=link_to t(:back), edit_resume_path(@resume)%></li>
<% end -%>

<% form_for(@personalinfo,:url => resume_personalinfo_path(@resume),:html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form',:locals => { :f => f } %>    
  <p>
    <%= f.submit t(:update) %>
  </p>
<% end %>

<% content_for :sidebar do %>
 sdf
<% end -%>