<p>
	<%= f.label :name, t(:school) %> <span style='color:red;'>*</span><br />
 	<%= f.text_field :name %> </p>

<p>    
	<%= f.label :degree, t(:degree) %> <span style='color:red;'>*</span><br /> 
	<%= f.text_field :degree %>
</p>  
<p>    
	<%= f.label :field, t(:major) %> <span style='color:red;'>*</span><br /> 
	<%= f.text_field :field %>
</p>                          
<p> <table border="0" style="width:180px">
	<tr>
		<td><%= f.label :start_at, t(:start_at) %> <span style='color:red;'>*</span></td>
		<td> <%= f.label :end_at, t(:stop_at) %> <span style='color:red;'>*</span></td>
	</tr>
	<tr>
	   <td><%= f.date_select('start_at',:discard_day => true,:discard_month => true,:start_year => Time.now.year - 40) %> </td>
		<td><%= f.date_select('end_at',:discard_day => true,:discard_month => true,:start_year => Time.now.year - 40) %></td>
	</tr>
</table>
</p>
<p>
	<%= f.label :description, t(:desc) %><br />
    <%= f.text_area :description,:cols => 10, :rows => 20 %>
</p>

