<% content_for :tabs do -%> 
 	<li><%=link_to(t(:edit_educations),'#tabs-content') %></li> 
    <li><%=link_to t(:all_educations), resume_positions_path(@resume)%></li>       
    <li><%=link_to @resume.name, edit_resume_path(@resume)%></li>
<% end -%>

<% form_for(@education,:url => resume_education_path(@resume,@education)) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form', :locals => { :f => f }%> 
  <p>
    <%= f.submit t(:update) %>
  </p>
<% end %>
