<span class='avatar'><%= avatar_for @resume %></span> <h1 class='name'><%= @resume.personalinfo.name %></h1>     
	<div id="download">                                     
		    <%=link_to t(:download_pdf),APP_URL + public_resume_pdf_path(@resume.salt)%>
	</div>

<div class="section profile"> 
	<div class='identi'>
		<h3><%= t(:pro)%> </h3>
		<table border="0" cellspacing="1" cellpadding="1">
			<tr><td width='35%'><%=t(:sex)%>:</td><td><%= format_sex(@resume.personalinfo.sex) %></td></tr> 
			<tr><td><%=t(:hometown)%>:</td><td><%=h @resume.personalinfo.hometwon %></td></tr> 
			<tr><td><%=t(:hukou)%>:</td><td><%=h @resume.personalinfo.hukou %></td></tr> 
			<tr><td><%=t(:age)%>:</td><td><%= format_age(@resume.personalinfo.birthday) %></td></tr> 
			<tr><td><%=t(:birth)%>:</td><td><%= @resume.personalinfo.birthday %></td></tr> 
		</table>
	</div>
	<div class='contact'>
		<h3><%=t(:contact)%></h3>
		<table border="0" cellspacing="1" cellpadding="1">
			<tr><td width='35%'><%=t(:adr)%>:</td><td><%=h @resume.personalinfo.address %></td></tr> 
			<tr><td>Email:</td><td><%=h @resume.personalinfo.email %></td></tr> 
			<tr><td><%=t(:mobile)%>:</td><td><%=h @resume.personalinfo.mobile %></td></tr> 
		</table>
	</div>
</div>
<div class="section"> 
	<h2><%=t(:summary)%></h2>
	<div class="box">
		<p><%=h @resume.summary.content %></p>
	</div> 
	<% if false %> 
	<hr />
	<h2>技能</h2>
	<div class="box">
		<p><%=h @resume.summary.specialties %></p>
	</div>      
	<% end %>
</div>

<div class="span-15 section">  
	<h2><%=t(:positions)%></h2>
	<div class="box">  
		<% @resume.positions.each do |position| -%>
		<span class="date"><%= position.start_at %> » <%= format_end_at(position.end_at) %></span>
		<h3><%=h position.title %></h3>
		<address><%=h position.company %></address>
		<ul>
		<li><%=h position.description %></li>
		</ul>
		<% end -%>
	</div> 
</div>

<div class="span-15 section">  
	<h2><%=t(:intresters)%></h2>      
	<div class="box">
		<table border="0" cellspacing="1" cellpadding="1" class='intresting'>
			<tr><td width='20%'><%=t(:intresters)%>:</td><td><%=h @resume.additionalinfo.interests %></td></tr> 
			<tr><td><%=t(:groups)%>:</td><td><%=h @resume.additionalinfo.groups %></td></tr> 
			<tr><td><%=t(:awards)%>:</td><td><%=h @resume.additionalinfo.awards %></td></tr> 
		</table>
	</div>
</div>

<div class="span-15 section">  
	<h2><%=t(:edu)%></h2>  
	<% @resume.educations.each do |education| -%>
	<div class="box">  
		 <span class="date"><%= education.start_at.to_s(:date_edu) %> » <%= education.end_at.to_s(:date_edu) %></span>
		<h3><%= education.name %></h3>
		<ul>
			<li><%=h education.degree %></li>
			<li><%=h education.field %></li>
		</ul>
	</div>
	<% end -%>  
</div>                             