<div class="section"> 
	<h2><%=t(:summary)%></h2>
	<div class="box">
		<p><%=h @resume.summary.content %></p>
	</div> 
	<% if false %> 
	<hr />
	<h2>技能</h2>
	<div class="box">
		<p><%=h @resume.summary.specialties %></p>
	</div>      
	<% end %>
</div>

<div class="span-15 section">  
	<h2><%=t(:positions)%></h2>
	<div class="box position">  
		<% @resume.positions.ordered.each do |position| -%>
		<span class="date"><%= position.start_at %> » <%= format_end_at(position.end_at) %></span>
		<h3><%=h position.title %></h3>
		<address><%=h position.company %></address>
		<ul>
		<li><%=h position.description %></li>
		</ul>
		<% end -%>
	</div> 
</div>

<div class="span-15 section">  
	<h2><%=t(:intresters)%></h2>      
	<div class="box">
		<table border="0" cellspacing="1" cellpadding="1" class='intresting'> 
			<col class='intrest-title'>
			<col class='intrest-content'>
			<tbody>
			<tr><td><%=t(:intresters)%>:</td><td><%=h @resume.additionalinfo.interests %></td></tr> 
			<tr><td><%=t(:groups)%>:</td><td><%=h @resume.additionalinfo.groups %></td></tr> 
			<tr><td><%=t(:awards)%>:</td><td><%=h @resume.additionalinfo.awards %></td></tr>
			</tbody> 
		</table>
	</div>
</div>

<div class="span-15 section">  
	<h2><%=t(:edu)%></h2>  
	<% @resume.educations.ordered.each do |education| -%>
	<div class="box">  
		 <span class="date"><%= education.start_at.to_s(:date_edu) %> » <%= education.end_at.to_s(:date_edu) %></span>
		<h3><%= education.name %></h3>
		<ul>
			<li><%=h education.degree %></li>
			<li><%=h education.field %></li>
		</ul>
	</div>
	<% end -%>  
</div>      

<div class="span-15 section">    
	<h3><%= t(:recommendations) %></h3>
			<%= render :partial => 'recommendation',:collection => @user.received_recommendations.visible  %>
</div>                       