<div class='span-12 prepend-2'>
    <span class='avatar'><%= avatar_for @resume.profile %></span><h1><%= @resume.profile.name %><span class='edit'>[<%= link_to '删除', resume_path(@resume), :confirm => '你确定嘛?', :method => :delete %>]</span></h1>	
</div>

  
<div class="span-14 section"> 
<div class='more'>
	<%=link_to '编辑',edit_resume_profile_path(@resume),:class =>'ag'%>
</div>
<div class='span-7'>
		<h3>个人信息<span class='edit'></h3>
		<table border="0" cellspacing="1" cellpadding="1">
			<tr><td width='30%'>性别:</td><td><%=h format_sex(@resume.profile.sex) %></td></tr> 
			<tr><td>出生地:</td><td><%=h @resume.profile.hometwon %></td></tr> 
			<tr><td>户口所在地:</td><td><%=h @resume.profile.hukou %></td></tr> 
			<tr><td>年龄:</td><td><%=h format_age(@resume.profile.birthday) %></td></tr> 
			<tr><td>生日:</td><td><%=h @resume.profile.birthday %></td></tr> 
		</table>
</div>
<div class='span-7 last'>
		<h3>联系方式</h3>
		<table border="0" cellspacing="1" cellpadding="1">
			<tr><td width='30%'>地址:</td><td><%=h @resume.profile.address %></td></tr> 
			<tr><td>电子邮件:</td><td><%=h @resume.profile.email %></td></tr> 
			<tr><td>手机:</td><td><%=h @resume.profile.mobile %></td></tr> 
		</table>
</div>
</div>
<div class="span-14 section"> 
	<div class='more'>
		<%=link_to '编辑',edit_resume_summary_path(@resume),:class =>'ag'%> 
	</div>
	<h2>总结</h2>
	<div class="main">
		<p><%=h @resume.summary.content %></p>
	</div>
    <% if false %>
	<h2>技能</h2>
	<div class="main">
		<p><%= @resume.summary.tag_list %></p>
	</div>      
	<% end %>
</div>

<div class="span-14 section"> 
	<div class='more'>
		<%=link_to '添加',new_resume_position_path(@resume),:class =>'ag'%> 
	</div>   
	<h2>工作经验</h2>
	<div class="main">  
		<% @resume.positions.each do |position| -%>
		<span class="date"><%= position.start_at %> » <%= format_end_at(position.end_at) %></span>
		<h3><%=h position.title %><span class='edit'>[<%=link_to '编辑',edit_resume_position_path(@resume,position),:class =>'ag'%> | <%= link_to '删除', resume_position_path(@resume,position),:class =>'ag', :confirm => '你确定嘛?', :method => :delete %>]</span></h3>
		<address><%=h position.company %></address>
		<ul>
		<li><%=h position.description %></li>
		</ul>
		<% end -%>
	</div> 
</div>

<div class="span-14 section">    
	<div class='more'>
		<%=link_to '编辑',edit_resume_additionalinfo_path(@resume),:class =>'ag'%> 
	</div>
	<h2>兴趣爱好</h2>      
	<div class="main">
		<table border="0" cellspacing="1" cellpadding="1">
			<tr><td width='10%'>爱好:</td><td><%=h @resume.additionalinfo.interests %></td></tr> 
			<tr><td>小组:</td><td><%=h @resume.additionalinfo.groups %></td></tr> 
			<tr><td>获奖:</td><td><%=h @resume.additionalinfo.awards %></td></tr> 
		</table>
	</div>
</div>

<div class="span-14 section"> 
	<div class='more'>
		<%=link_to '添加',new_resume_education_path(@resume),:class =>'ag'%> 
	</div>   
	<h2>教育</h2>  
	<% @resume.educations.each do |education| -%>
	<div class="main">  
		 <span class="date"><%= education.start_at.to_s(:date_edu) %> » <%= education.end_at.to_s(:date_edu) %></span>
		<h3><%= education.name %><span class='edit'>[<%=link_to '编辑',edit_resume_education_path(@resume,education),:class =>'ag'%> | <%= link_to '删除', resume_education_path(@resume,education),:class =>'ag', :confirm => '你确定嘛?', :method => :delete %>]</span></h3>
		<ul>
			<li><%=h education.degree %></li>
			<li><%=h education.field %></li>
		</ul>
	</div>
	<% end -%>  
</div>


<% content_for :sidebar do -%>
	<div class='span-5'>
		<ul>
			<li> <%=link_to '预览/定制',@resume,:id => 'view',:target => '_blank'%></li>  
	        <% if false %>
              <li><%= link_to '获得推荐',ask_resume_recommands_path(@resume),:id =>'view'%>
			<% end %>
		</ul>
	</div>                                                       
	<div class='span-5 prepend-top'>      
		 <b>完成度</b>
	<% completeness ||= profile_completeness(@resume) %>
	<% percent = completeness[:score] %>
		<table width='100%',style ='margin-bottom:0;' class='poll'>
			<tr><td class='bars'>
				<div class='bar-container' style='width:50%;'>
				   <div class='bar' style="width:<%=percent%>%">
				   	  <small><%= number_to_percentage(percent, :precision => 0)%></small>
				   </div> 
				</div>
			</td></tr>
			<tr>
				<td>
					<ul class='checks'>
						<% completeness[:incomplete].each do |line| %>
						<li><%= line[:action]  %>+(<%=number_to_percentage((line[:val].to_f/completeness[:total].to_f)*100, :precision => 0)%>)</li>
						<% end %>
						</ul>
				</td>
			</tr>
		</table> 
		</div> 
 <% end -%>