
<div style='margin-bottom:10px'>
	<% form_tag resumes_path,:method => 'get',:onsubmit => "clear_query_box('search-input');return false;",:style => 'margin-left:200px'  do -%> 
	<%= text_field_tag :query,(params[:query] ||"输入关键字"),:size => 18,:class => "soinputindex",:id => 'query' %> 
	<%=submit_tag '提交',:class=>'soinputbot',:align => 'absmiddle'%>
	<% end -%>
</div> 
<%= will_paginate @resumes,:class =>'apple_pagination' %>   
<% @resumes.each do |resume| -%>
<% completeness ||= resume_completeness(resume) %>
<% percent = completeness[:score] %>    
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$("#progressbar_<%=resume.id%>").progressBar(<%=percent%>,{showText:false,width:80,barImage: '/images/progressbg_green.gif'});
	});
</script>
	<dl style='padding:5px 10px;'>
		<dd id='activity-item'>    
		   <div class='activity_user_avatar'><%= avatar_for(resume,48,48)%><br /><%=resume.current_position %><p>
		   <span class="progressBar" id="progressbar_<%=resume.id%>">&nbsp;</span></p></div>
		<%=link_to h(resume.name),public_resume_path(resume),:target => '_blank',:class => 'ag'  %>
		   <br /> <%=h resume.additionalinfo.awards %>
			<br /> 
			爱好: <%=h resume.additionalinfo.interests %> <br />
			<span style='color:#999999'><%= time_ago_in_words_or_date(resume.created_at) %> </span>
		 </dd>  

	</dl>
<% end %>    
<%= will_paginate @resumes,:class =>'apple_pagination' %>   