<% content_for :head do -%>  
	<script type="text/javascript" charset="utf-8">
		//  Developed by Roshan Bhattarai 
		//  Visit http://roshanbh.com.np for this script and more.
		//  This notice MUST stay intact for legal use
		$(document).ready(function()
		{
			//scroll the message box to the top offset of browser's scrool bar
			$(window).scroll(function()
			{
		  		$('#message_box').animate({top:$(window).scrollTop()+"px" },{queue: false, duration: 350});  
			});
		    //when the close button at right corner of the message box is clicked 
			$('#close_message').click(function()
			{
		  		//the messagebox gets scrool down with top property and gets hidden with zero opacity 
				$('#message_box').animate({ top:"+=15px",opacity:0 }, "slow");
			});
		});
	</script>
<% end -%>   
<div id="message_box"> 
			 <h1>   
				公开网址(所有人可访问,建议定期重设): <%=link_to @resume.public_url,@resume.public_url,:target => '_blank',:id => 'public_url' %>
				<%=link_to_remote '重设',:url => publish_resume_path(@resume),:method => :put,:confirm => '你确定嘛?重设后之前的人将不能访问.' %>
				<%=facebox_link_to '投',:url => send_to_resume_path(@resume),:method => :get,:html =>{:id => 'dl'}%> 
				<%=link_to '返回编辑 >>',edit_resume_path(@resume) %>
			  </h1>      
</div>

<%= render :partial => '/resumes/resume' %>

