<% if current_user.id.equal?(@resume.user.id) || @user.friend?(current_user) -%>
<% content_for :tabs do -%>     
<% if @user == current_user -%>
  <li><%=link_to('我的简历',edit_resume_path(@resume)) %></li>
  <li class='ui-tabs-selected'><%=link_to('预览','#tabs-content') %></li>
<% end -%>  
<% if @user.friend?(current_user) -%>
  <li><%=link_to(@resume.name,'#tabs-content') %></li>
<% end -%>  
<% end -%>  
<%= render :partial => 'full_resume' %>
<% else -%>
<p>要查看<%=link_to h(@user.resume.name),public_resume_path(@user.resume),:class => 'ag' %>的完整简历,你必须获得<%=h @user.resume.name %>的同意.</p>点<%=link_to '这里',new_user_message_path(current_user,:req => 'request_friend',:receiver => @user.id),:class => 'ag'%>给<%=h @user.resume.name %>发请求.
<% end -%>