<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>半亩塘 - 在线简历制作</title> 
	<%= render :partial => '/shared/script_and_tags' %>     
	<%= stylesheet_link_tag 'admin' %>
  	<%= yield :head %>  
</head>
<body>
<div class='container'>
	<div class='span-24'>
		<%= render :partial => '/shared/header' %> 
	</div>    
	<div class='span-24' style='margin-top:20px'>
		 <%= render :partial => '/shared/notice' %> 
		<div class='span-5' id='sidebar'> 
			<h3>管理菜单</h3>  
			<ul>    
				<%= topnav_tab('管理页', :url => admin_path ,:section => 'dash') %> 
				<%= topnav_tab('用户', :url => admin_users_path ,:section => 'admin_user') %> 
				<%= topnav_tab('简历', :url => admin_resumes_path ,:section => 'admin_resume') %>
				<%= topnav_tab('求职申请', :url => admin_posters_path ,:section => 'admin_poster') %> 
				<%= topnav_tab('cms内容', :url => comatose_admin_path ,:section => 'cms',:target => '_blank') %>        
			</ul>  
			 <h3>操作菜单</h3> 
			<ul>    
				<%= topnav_tab('发mail通知', :url => send_mail_path ,:section => 'mail') %>  
			</ul> 
			<h3>数据分析</h3> 
			<ul>    
				<%= topnav_tab('统计图', :url => admin_charts_path ,:section => 'chart') %>  
			</ul>
		</div>
        <div class='span-18 last'> 
						<%= yield %>          
        </div>
	</div> 
    <%= render :partial => '/shared/footer' %>
</div>            
</body>
</html>
