<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>半亩塘 - 在线简历制作</title> 
  <%= render :partial => '/shared/script_and_tags' %>
  <%= yield :head %> 
  <%= include_tiny_mce_if_needed %>
  <% unless @tabs == false -%>
  <script type="text/javascript" charset="utf-8">
	$j(document).ready(function() {
		$j("#tabs").tabs({
			select: function(event, ui) {
				var url = $.data(ui.tab, 'load.tabs');
				if( url ) {
					location.href = url;
					return false;
				}
				return true;
			}
			});
	});
  </script> 
<% end -%>
</head>
<body>
<div class='container'>
	<div class='span-24'>
		<%= render :partial => '/shared/header' %> 
	</div>    
	<div class='span-24' style='margin-top:20px'> 
		<%= render :partial => '/shared/notice' %>
        <% unless @render_sidebar -%> 
			<%= render :partial => '/shared/sidebar' %>
		<% end -%>

        <div class='span-18 last'>
			<% if @render_group_header -%>   
             <%= render :partial => '/shared/group_header' %>
 			<% end -%> 
			 <div class='ui-widget'>
			<div id="ajax-indicator" style="display:none;" class='ui-state-highlight ui-corner-all'><span>载入中</span></div>
			</div>      
			<div id="tabs">
				<ul><%= yield :tabs %></ul>
			</div> 
			<div class='span-13'>  
				<%= yield %>          
			</div>   
			<div class='span-5 last'>
			  <%= yield :tab_sidebar %>    
			</div>
			
        </div>
	</div> 
    <%= render :partial => '/shared/footer' %>
</div>            
</body>
</html>
