<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Resumes: <%= controller.action_name %></title> 

  <link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen">
  <link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print">    
  <!--[if lt IE 8]><link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]--> 
  <%= stylesheet_link_tag 'style' %>  
  <%= stylesheet_link_tag 'facebox' %>
  <%= stylesheet_link_tag 'ui-theme' %>
  <%= javascript_include_tag 'jquery' %>
  <%= javascript_include_tag 'jrails' %>
  <%= javascript_include_tag  'application' %>
  <%= javascript_include_tag 'facebox' %>
  <%= javascript_include_tag  'jquery-ui' %>
  <script type="text/javascript" charset="utf-8">
  	jQuery(document).ready(function($) {
	  $('a[rel*=facebox]').facebox()
	})
  </script>
</head>
<body>
<div class='container'>
	<div class='span-24'>
		<%= render :partial => '/shared/header' %> 
		
	</div>    
	<div class='span-22 prepend-1 append-1'> 
		<%= render :partial => '/shared/notice' %>
	    <%= yield %>  
	</div> 
    <%= render :partial => '/shared/footer' %>
</div>


</body>
</html>
