<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>半亩塘 - 在线简历制作</title> 
  <meta name="description" content="半亩塘 - 你的简历创建时间从几小时变成几分钟" />
  <meta name="keywords" content="简历制作,在线简历,求职,简历,毕业,找工作,人才" />
  <meta name="robots" content="all" />
  <link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen">
  <link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print">    
  <!--[if lt IE 8]><link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]--> 
  <%= stylesheet_link_tag 'style' %>  
  <%= stylesheet_link_tag 'facebox' %>
  <%= stylesheet_link_tag 'ui-theme' %>
  <%= javascript_include_tag 'jquery' %>
  <%= javascript_include_tag 'jrails' %>
  <%= javascript_include_tag  'application' %>
  <%= javascript_include_tag 'facebox' %>
  <%= javascript_include_tag  'jquery-ui' %> 
  <%= yield :head %>
  <script type="text/javascript" charset="utf-8">
  	jQuery(document).ready(function($) {
	  $('a[rel*=facebox]').facebox()
	})
  </script>
</head>
<body>
<div class='container'>
	<div class='span-24'>
		<%= render :partial => '/shared/header' %> 
	</div>    
	<div class='span-21 prepend-1 append-1 prepend-top prepend-bottom'> 
		<%= render :partial => '/shared/notice' %>
	    <%= yield %>
	</div> 
    <%= render :partial => '/shared/footer' %>
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-9920036-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
