<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>半亩塘 - 在线简历制作</title>
  <meta name="verify-v1" content="usRMJ3ELlPl4WYVXZGqaqK/bEq4awFjS+j/B1FzTXW8=" /> 
  <%= render :partial => '/shared/script_and_tags' %>        
  <%= yield :head %>
  <script type="text/javascript" charset="utf-8">
  	jQuery(document).ready(function($) {
	  $('a[rel*=facebox]').facebox()
	})
  </script>
</head>
<body>
<div class='container'>
	<div class='span-24'>
		<%= render :partial => '/shared/header' %> 
	</div>    
	<div class='span-21 prepend-1 append-1 prepend-top prepend-bottom'> 
		<%= render :partial => '/shared/notice' %>
	    <%= yield %>
	</div> 
    <%= render :partial => '/shared/footer' %>
</div>
</body>
</html>
