<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta name="robots" content="noindex, nofollow"> 
  <meta name="description" content="半亩塘 - 让你快速创建更管用的简历" />
  <meta name="keywords" content="简历制作,在线简历,个人简,简历模板,求职简历,个人简历表格,英文简历
简历表,个人简历模板,个人简历封面,简历范文,简历下载" />
  <title><%= @resume.name %>的简历</title> 
	<%= stylesheet_link_tag 'facebox' %>
  	<%= stylesheet_link_tag 'resume' %>
	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag 'facebox' %>
  	<%= yield :head %>  
</head>
<body>             
	<%= yield :message_box %>
<div class='container'>
	<div class='content'>
	   <%= yield %>  
	   <div style="font: 0px/0px sans-serif;clear: both;display: block"> </div>
	</div> 
	     
</div>  
<% unless  ENV['RAILS_ENV'] == 'development' %>   
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-9920036-1");
pageTracker._trackPageview();
} catch(err) {}</script>
<% end %>
</body>
</html>
